# Python cache
__pycache__/
*.py[cod]

# Virtual environment
venv/
.venv/

# Environment files
.env
.env.*

# Flask local files
instance/
*.db
*.sqlite3

# Runtime/OS/editor
data/
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs
*.log
