{% extends "base.html" %}

{% block title %}Connexion | Web CRM{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6 col-lg-4">
    <section class="panel">
      <div class="panel-head">Authentification</div>
      <div class="panel-body">
        <form method="POST" action="/login" class="d-grid gap-3">
          {{ csrf_input() }}
          <input type="hidden" name="next_url" value="{{ next_url }}">
          <div>
            <label class="form-label fw-semibold">Nom d'utilisateur ou email</label>
            <input class="form-control" type="text" name="username" required>
          </div>
          <div>
            <label class="form-label fw-semibold">Mot de passe</label>
            <input class="form-control" type="password" name="password" required>
          </div>
          <button type="submit" class="btn btn-brand">Se connecter</button>
        </form>
      </div>
    </section>
  </div>
</div>
{% endblock %}
